.forecast {
  height: 400px;
  width: 400px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  margin-left: 50px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.forecast > * {
  justify-content: space-evenly;
}
