img {
  height: 90px;
  width: 90px;
}

.weather-card {
  height: 180px;
  width: 350px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin: 10px auto 10px auto;
  position: relative;
}

.weather-card > span {
  display: flex;
  justify-content: space-between;
}

.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 10px 0px 30px;
}

.city h1 {
  text-align: left;
  margin-bottom: 0px;
}

.weather-condition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  padding: 20px 30px 10px 10px;
}

.weather-data {
  font-size: 0.7rem;
  padding-left: 30px;
}

.weather-data p {
  margin: 1px auto 1px 1px;
}
