img {
  height: 90px;
  width: 90px;
}

.current-weather {
  height: 400px;
  width: 400px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: auto;
}

.weather-card > span {
  display: flex;
  justify-content: space-between;
}

.city,
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* padding: 10px 10px 0px 30px; */
}

.city h1,
.date h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.current-temp {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 55px;
}

.weather-details > * {
  margin: 0px 0px 0px 40px;
}

.weather-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
}

.condition {
  position: relative;
  margin-left: 8px;
}

.condition-name {
  position: absolute;
  text-align: center;
  width: 90px;
  top: 75px;
}

.weather-data {
  font-size: 0.7rem;
  padding-left: 30px;
}

.weather-data p {
  margin: 1px auto 1px 1px;
}

#forecast {
  padding-bottom: 10px;
  height: fit-content;
  width: fit-content;
  max-width: 225px;
}

#forecast span {
  min-width: 200px;
}

#forecast img {
  height: 40px;
  width: 40px;
}

#divider {
  border-style: solid;
  border-left: thick;
  height: 50px;
}
