.form-container {
  /* border-style: solid;
  height: 300px;
  width: 400px;
  margin-top: calc(50vh - 150px);
  margin-left: calc(50vw - 200px); */
}

div form {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
}

button {
  margin-left: 10px;
}
