div form {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
}

.btn {
  margin-left: 10px;
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  transition: 0.7s;
}

.btn:hover {
  cursor: pointer;
  background-color: #bbddff;
  transition: 0.7s;
}

input#city {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
  margin: 5px;
}

input#city:focus {
  outline: none;
  padding-bottom: 5px;
  margin: 5px;
}
