body {
  background-image: url(./images/clouds.jpg);
  background-size: cover;
}

body > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.app {
  margin-top: 100px;
}

.weather {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  padding-left: 1ch;
  font-size: 0.8rem;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: grey;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .weather {
    display: flex;
    flex-direction: column;
  }

  body {
    background-size: cover;
  }

  footer {
    background-color: white;
  }
}

@media (min-width: 600px) {
  .weather {
    display: flex;
    flex-direction: column;
  }

  body {
    background-size: cover;
  }

  footer {
    background-color: white;
  }
}

@media only screen and (min-width: 768px) {
  .weather {
    display: flex;
    flex-direction: row;
  }

  body {
    background-size: cover;
  }

  footer {
    background-color: transparent;
  }
}

@media only screen and (min-width: 992px) {
  .weather {
    display: flex;
    flex-direction: row;
  }

  body {
    background-size: cover;
  }
}

@media only screen and (min-width: 1200px) {
  .weather {
    display: flex;
    flex-direction: row;
  }
}
